.hero h1{
    color:rgb(255, 255, 255);
}
h2{
    color:rgb(255, 255, 255);
}
h6{
    color:rgb(255, 255, 255);
    padding:10px;
}
.app {
    position: relative;
}
.app-header {
    left: 0;
    padding: 60px;
    position: absolute;
    transition: 0.5s;
    top: 0;
    width: 100%;
    z-index: 1;
}
.app-header-active{
    padding: 10px;
    position: fixed;
    background-color: rgb(136, 10, 253);; 
    /* opacity: 0.2; */
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    width: 100%;
}
.app-header__list-item {
    width: 100%;
}
.hero{
    height: 670px;
    padding-top: 181px;
}
.hero-object{
    text-align:center
}
section{
    height:670px;
}
.feature {
    display: flex;
    width: 100%;
    padding-top:40px;
}
.feature--image > img{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.feature--right .feature__icon {
    margin-right: 0;
    margin-left: 40px;
    order: 2;
}

.feature--right .feature__content {
    order: 1;
    text-align: right;
}

@media screen and ( max-width: 1200px){
    .form-group{
        text-align: center;
    }
    .hero{
        height: 730px;
        padding-top: 181px;
    }
    .section2{
        overflow:hidden;
        height: 800px;
    }
    .section3{
        height:800px;
    }
}

@media only screen and (min-width: 992px){  
    .app-header__list-item {
        width: initial;
    }
    .navbar-collapse{
       display: block;
   }
   .navbar-toggler {
       display: none;
   }

   /* .feature__content {
    order: 2;
    text-align: left;
    } */
}

@media (max-width:991px){
    .hero{
        height: 1200px;
        padding-top: 181px;
    }
    .section3{
        height:1300px;
    }
    .feature--right .feature__icon {
        margin-left: 0;
        margin-right: 20px;
        order: 1;
        width:40px;
    }
    .feature--right .feature__content {
        order: 2;
        text-align: left;
    }
}